@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc; /* slate-50 */
  color: #171717;
}

.dark body {
  background-color: #0b1220; /* deep blue-black */
  color: #e5e7eb;
}

